@import "../src/styles/style.scss";
@import "../src/styles/Hero/hero";
@import "../src/styles/Header/mediaHeader";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul, li, ol {
  list-style: none;
}